.module {
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    border-style: solid;
    border-radius: 15px;
    /* padding: 10px 5px 5px 5px; */
    margin: 5px 0px 5px 0px;
    box-shadow: 3px 3px 5px gainsboro;
}

.calendar-container {
  display: flex;
  overflow-x: auto; /* Activer le défilement horizontal */
  white-space: nowrap; /* Éviter les retours à la ligne */
  margin: 0 30px;
  border: 2px solid #555555;
}

.day-row {
  align-items: center;
  border: 1px solid #555555 ;
}

.weekday-name {
  width: 150px; /* Largeur pour le nom du jour */
  height: 30px; /* Correspond à la hauteur des day-cell */
  display: flex;
  padding-left: 15px;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  border-right: 1px solid lightgray;
  background-color: whitesmoke;
}

.day-cell {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightslategrey;
  background-color: whitesmoke;
}

.month-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-width: 250px; /* Largeur minimum pour chaque mois */
  background-color: white;
}

.today {
  background-color: lightblue; /* Mettre en évidence le jour actuel */
}

.holiday {
  background-color: lightsalmon; /* Couleur pour les jours fériés */
}

.weekend {
  background-color: lightgray; /* Couleur différente pour les weekends */
}


/* Positionnement de l'icône d'information */
.info-tooltip {
  position: relative;
  display: inline-block;
}

/* Icône d'information */
.info-tooltip i {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}

/* Style du tooltip */
.tooltip-content {
  display: flex;
  flex-direction: column; /* Aligne les éléments verticalement */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40px; /* Positionner le tooltip juste en dessous de l'icône */
}

/* Style pour chaque légende de couleur */
.tooltip-content div {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacement entre chaque légende */
  margin: 5px;
  padding: 5px;
}

/* Style du rectangle de couleur */
.tooltip-content .color-box {
  width: 40px;
  height: 20px;
  margin-right: 10px; 
  border: 1px solid;
}

/* Lorsque l'utilisateur survole l'icône d'information, le tooltip devient visible */
.info-tooltip:hover .tooltip-content {
  opacity: 0.95;
}
