.module {
    border-width: 2px;
    border-color: rgb(206, 206, 206);
    border-style: solid;
    border-radius: 15px;
    /* padding: 10px 5px 5px 5px; */
    margin: 5px 0px 5px 0px;
    box-shadow: 3px 3px 5px gainsboro;
}

.calendar-container {
  display: flex;
  overflow-x: auto; /* Activer le défilement horizontal */
  white-space: nowrap; /* Éviter les retours à la ligne */
  justify-content: space-around;
  margin: 0 30px;
  border: 2px solid #555555;
}

.day-row {
  align-items: center;
  border: 1px solid #555555 ;
  position: relative; /* Position relative pour placer la tooltip */
}

.day-row:hover .module-tooltip {
  visibility: visible;
  opacity: 1;
}

.module-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  transition: opacity 0.4s ease-in-out;
}

.weekday-name {
  width: 150px; /* Largeur pour le nom du jour */
  height: 30px; /* Correspond à la hauteur des day-cell */
  display: flex;
  padding-left: 15px;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  border-right: 1px solid lightgray;
  background-color: whitesmoke;
}

.day-cell {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid lightslategrey;
  background-color: whitesmoke;
}

.month-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-width: 250px; /* Largeur minimum pour chaque mois */
  background-color: white;
}

.today {
  background-color: lightblue; /* Mettre en évidence le jour actuel */
}

.holiday {
  background-color: lightsalmon; /* Couleur pour les jours fériés */
}

.weekend {
  background-color: lightgray; /* Couleur différente pour les weekends */
}

/* Style pour la légende en bas */
.legend-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px 10px;
  margin: 10px 30px;
  }

.legend-box {
  display: flex;
  align-items: center;
}

.legend-box .color-box {
  width: 40px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
}

.legend-text {
  font-size: 14px;
  font-style: italic;
}
